<!DOCTYPE html>
<html>

<head>
    <title>Sign up page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="sign up.css">
</head>

<body>
    <div class="container">
        <h2>SIGN UP</h2>
        <form id="loginForm">
            <div class="form-group">
                <label for="first name">first name:</label>
                <input type="text" class="form-control" id="first name" placeholder="Enter your first name">
            </div>
            <div class="form-group">
                <label for="last name">last name:</label>
                <input type="text" class="form-control" id="last name" placeholder="Enter your last name">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password " placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="password again">Password again:</label>
                <input type="password again" class="form-control" id="password again" placeholder="Enter password again">
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your Email">
            </div>
            <div class="form-group">
                <label for="Email again">Email again:</label>
                <input type="email again" class="form-control" id="email again" placeholder="Enter your Email again">
            </div>
            
            <button type="submit" class="btn btn-primary">SIGN UP!</button>
            <button type="submit" class="btn btn-primary">already have username? sign in</button>
        </form>
        <div id="result"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="sign up.js"></script>
</body>

</html>
